<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Forget password</title>
</head>
<body>
 <main>
  
  <fieldset class="flex" style="flex-direction: column;">  
    <h2 style="color:rgb(36, 50, 175); font-size: 1.1rem;">Please enter your registered email id</h2>
    <form action="/users/forgetPw/email" method="POST">
      <input type="email" name="email" placeholder="Email" />
      <input class="submit" type="submit" placeholder="submit" />
     
    </form>
  </fieldset>
</main>
</body>
</html>
<main>

 